<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
/* Nav Style */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: darkblue;
}
nav ul {
  display: flex;
  list-style: none;
}
nav ul li {
  margin: 0 10px;
}
nav ul li a {
  background: yellow;
  padding: 10px;
  text-decoration: none;
  font-family: monospace;
  color: black;
  font-weight: bold;
}
nav .site-title {
  background: white;
  padding: 5px 25px;
  border: 5px solid black;
}
nav .site-title a {
  text-decoration: none;
  font-family: 'Open Sans', cursive;
  color: black;
}
/* main styles */
.blogs {
  margin: 0 auto;
  text-align: center;
}
.blogs h2 {
  font-family: 'Open Sans', cursive;
}
.blogs h1 {
  font-family: 'Grenze Gotisch', cursive;
}
.blogs p {
  font-family: 'Open Sans', monospace;
}
.blogs .content {
  background: #eee;
}
.blogs.create form {
  padding: 10px;
  background: #d3d3d3;
}
.blogs .delete {
  background: #E53A40;
    color: white;
      padding: 10px;
        font-weight: bold;
}
footer {
  background: darkblue;
  height: 5em;
  text-align: center;
  color: white;
  font-size: 1.5rem;
}
</style>
  <title>My Blog | <%= title %> </title>
</head>
<body>
  <%- include('./partials/header.ejs') %>
  <div class="blogs">
    <h2><%= blog.title %></h2>
    <p><%= blog.snippet %></p>
    <a data-doc="<%= blog._id %>" class="delete">delete</a>
  </div>

  <script>
    const deleteBtn = document.querySelector('a.delete')
    deleteBtn.addEventListener('click', () => {
      const delString = `/blogs/${deleteBtn.dataset.doc}`

      fetch(delString, {
        method: 'DELETE'
      })
    })
  </script>
<%- include('./partials/footer.ejs') %>
